@import "../../styles/colors.scss";
input {
  border: 1px solid $grey-dark;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: $grey;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid $grey-light;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: darken($green-dark, 10%);
  color: $yellow;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid $grey-light;
}
