.animal-cards {
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  justify-content: center;
}
.button-container {
  button {
    margin: 5px 10px 0 0;
  }
  button:last-child {
    margin-right: unset;
  }
  button:first-child {
    margin-left: unset;
  }
}
.app-content {
  padding: 2em;
  .user-choice-select {
    padding: 10px 0;
  }
  .search-tools {
    .search-box {
      padding: 5px 0;
      span {
        margin-right: 15px;
      }
    }
    .search-filters {
      padding: 5px 0;
    }
    .clear-search {
      padding: 5px 0;
    }
  }
  .cards-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .cards-sorting {
      display: inherit;
      align-items: baseline;
      span {
        margin-right: 10px;
      }
    }
  }
}
