$black: #454950;
$grey-dark: #8c989e;
$grey: #cbd0d3;
$grey-light: #e7eaeb;
$white: #fff;

$red: #dc4e5f;
$red-light: #e67b89;

$blue: #2ba6cb;
$blue-light: #73c9e1;
$blue-lighter: #c9e1ff;

$yellow-dark: #c57a01;
$yellow: #fbad2f;

$green-dark: #3ac162;
$green: #5fcf80;
$green-lighter: #d3ffb8;
