@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
.animal-card {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  .card-row {
    display: inherit;
    .key {
      width: 40%;
      text-align: right;
      margin-right: 5px;
      font-weight: bold;
    }
    .value {
      text-align: left;
    }
  }
}

.dog-card {
  $base-colour: $red-light;
  @include gradient(lighten($base-colour, 10%), $base-colour, vertical);
}
.cat-card {
  $base-colour: $blue-light;
  @include gradient(lighten($base-colour, 10%), $base-colour, vertical);
}
.cow-card {
  $base-colour: $yellow;
  @include gradient(lighten($base-colour, 10%), $base-colour, vertical);
}
.horse-card {
  $base-colour: $green;
  @include gradient(lighten($base-colour, 10%), $base-colour, vertical);
}
