.animal-card {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  .card-row {
    display: inherit;
    .key {
      width: 40%;
      text-align: right;
      margin-right: 5px;
      font-weight: bold;
    }
    .value {
      text-align: left;
    }
  }
}
.dog-card {
  background-color: orange;
}
.cat-card {
  background-color: skyblue;
}
.cow-card {
  background-color: lightsalmon;
}
.horse-card {
  background-color: honeydew;
}
